


<div class="HeaderContainer">
  <div>
    <img src="../../assets/Image/puma.jpeg" class="App-logo" alt="logo" (click)="pumahome()" height="100cm" width="150cm">
  </div>

  <div class="Introduction">
    <div class="Name">
      <div>
        <span class="HomePageTitle"><strong>Hello</strong></span>
      </div>
      <div>
        <span class="HomePageTitle"><strong>Max Mustermann</strong> </span>
      </div>

    </div>
    <div>
      <img src="../../assets/Image/man.jpg" class="rounded-circle" alt="logo" height="95cm" width="90cm">
    </div>
  </div>
</div>
<br>
<br>


<div class="con container">
  <div class="container text-center" style="margin-top:130px;">
    <ng-container *ngFor="let c of count">
      <h1>You've got {{c.count}} tasks to complete</h1>
    </ng-container>
    <br>
    <button type="button" class="btn btn-secondary" (click)="btnClick()" style="border-radius:10px;">Show me all my tasks</button>
    <br>
    <br>
    <h6>Or choose specific source:</h6>
    <h6>( You can change that later in source filter )</h6>
  </div>






  <div class="card-columns">
    <div class="card" *ngFor="let c of count">

      <div class="card-body text-center" (click)="Workday()">

        <img src="../../assets/Image/workday.png"
             class="rounded-circle float-left " alt="logo" style="margin-bottom:20px;" height="60cm" width="60cm">


        <div *ngFor="let w of workday">

          <ng-container *ngIf=" w.id=='123' ">
            <h5 class="card-title">{{w.source}} </h5>
            </ng-container>
        </div>


      <!--  <div *ngFor="let c of count">
          <div *ngFor="let w of workday">
            <ng-container *ngIf="w.resolved">
              <h6 class="card-subtitle mb-2 text-muted">{{c.workdaycount-1}} task</h6>

              <ng-container *ngIf="c.workdaycount-1>0">
                <div class="NotificationCount">{{c.workdaycount-1}} </div>
              </ng-container>

            </ng-container>
            <ng-container *ngIf="!w.resolved">
              <h6 class="card-subtitle mb-2 text-muted">{{c.workdaycount}} task</h6>
              <div class="NotificationCount">{{c.workdaycount}} </div>

            </ng-container>
          </div>
        </div>-->
        <div *ngFor="let c of count">
          <div *ngFor="let w of workday">

            <ng-container *ngIf=" w.id=='123' && c.workdaycount>0 && w.resolved">

              <h6 class="card-subtitle mb-2 text-muted">{{w.workdaycount-1}} task</h6>
              <ng-container *ngIf="c.workdaycount-1>0">
                <div class="NotificationCount">{{c.workdaycount-1}} </div>
              </ng-container>
            </ng-container>


            <ng-container *ngIf="w.id=='123' && c.workdaycount==0">
              <h6 class="card-subtitle mb-2 text-muted">{{c.workdaycount}} task</h6>
            </ng-container>



            <ng-container *ngIf="!w.resolved && w.id=='123' && c.workdaycount>0 ">
              <h6 class="card-subtitle mb-2 text-muted">{{c.workdaycount}} task</h6>
              <div class="NotificationCount">{{c.workdaycount}} </div>

            </ng-container>

          </div>
        </div>


      </div>

    </div>



    <div class="card">
      <div class=" card-body text-center" (click)="Opentext()">

        <img src="../../assets/Image/opentext.png" class="rounded float-left" alt="logo" style="margin-bottom:20px;" height="60px" width="60px">

        <div *ngFor="let o of opentext">
          <ng-container *ngIf="o.id=='111'">
            <h5 class="card-title">{{o.source}} </h5>
          </ng-container>
        </div>

        <div *ngFor="let c of count ">
          <div *ngFor="let a of opentext">


            <ng-container *ngIf="a.id=='111' &&  c.opentextcount==0">
              <h6 class="card-subtitle mb-2 text-muted">{{c.opentextcount}} task</h6>
            </ng-container>



            <ng-container *ngIf=" a.id=='111' && c.opentextcount>0 ">
              <h6 class="card-subtitle mb-2 text-muted">{{c.opentextcount}} task</h6>
              <div class="NotificationCount">{{c.opentextcount}} </div>

            </ng-container>

          </div>
        </div>

      </div>

    </div>

    <div class="card">

      <div class="card-body text-center" (click)="Adobesign()">
        <img src="../../assets/Image/adobesign.png"
             class="rounded float-left" alt="logo" style="margin-bottom:20px;" height="60px" width="60px">

        <ng-container *ngFor="let a of adobe">
          <ng-container *ngIf="a.id=='456' ">
            <h5 class="card-title">{{a.source}} </h5>
          </ng-container>
        </ng-container>


        <div *ngFor="let c of count ">
          <div *ngFor="let a of adobe">


              <ng-container *ngIf="a.id=='456' &&  c.adobecount==0">
                <h6 class="card-subtitle mb-2 text-muted">{{c.adobecount}} task</h6>
              </ng-container>



              <ng-container *ngIf=" a.id=='456' && c.adobecount>0 ">
                <h6 class="card-subtitle mb-2 text-muted">{{c.adobecount}} task</h6>
                <div class="NotificationCount">{{c.adobecount}} </div>

              </ng-container>  

          </div>
        </div>
      </div>

    </div>

    <div class="card">
      <div class="card-body text-center">
        <img src="../../assets/Image/todo.png"
             class="rounded float-left" alt="logo" style="margin-bottom:20px;" height="60cm" width="60cm">

        <h5 class="card-title">TO-DO</h5>

        <h6 class="card-subtitle mb-2 text-muted" style="margin-left: 20px;">0 tasks</h6>

      </div>
    </div>


    <div class="card">
      <div class="card-body text-center" (click)="SAPConcur()">
        <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/sap-concur.6ba72968d799304a5b83d8fceab34011.svg"
             class="rounded float-left" alt="logo" style="margin-bottom:20px;" height="60px" width="60px">

        <div *ngFor="let s of sapconcur">
          <ng-container *ngIf="s.id=='555'">
            <h5 class="card-title">{{s.source}} </h5>
          </ng-container>
        </div>

        <div *ngFor="let c of count ">
          <div *ngFor="let a of sapconcur">


            <ng-container *ngIf="a.id=='555' &&  c.sapcount==0">
              <h6 class="card-subtitle mb-2 text-muted">{{c.sapcount}} task</h6>
            </ng-container>



            <ng-container *ngIf=" a.id=='555' && c.sapcount>0 ">
              <h6 class="card-subtitle mb-2 text-muted">{{c.sapcount}} task</h6>
              <div class="NotificationCount">{{c.sapcount}} </div>

            </ng-container>

          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-body text-center" (click)="Outlook()">
        <img src="../../assets/Image/outlook.png"
             class="float-left" alt="logo" style="margin-bottom:20px;" height="60cm" width="60cm">

        <div *ngFor="let o of outlook">
          <ng-container *ngIf="o.id=='214'">
            <h5 class="card-title">{{o.source}} </h5>
          </ng-container>
          </div>

          <div *ngFor="let c of count ">
            <div *ngFor="let a of outlook">

             <!-- <ng-container *ngIf=" a.id=='0214' && c.outlookcount>0 && a.resolved">

                <h6 class="card-subtitle mb-2 text-muted">{{c.outlookcount-1}} task</h6>
                <ng-container *ngIf="c.outlookcount-1>0">
                  <div class="NotificationCount">{{c.outlookcount-1}} </div>
                </ng-container>
              </ng-container>
-->

              <ng-container *ngIf="a.id=='0214' &&  c.outlookcount==0">
                <h6 class="card-subtitle mb-2 text-muted">{{c.outlookcount}} task</h6>
              </ng-container>



              <ng-container *ngIf="a.id=='0214' && c.outlookcount>0 ">
                <h6 class="card-subtitle mb-2 text-muted">{{c.outlookcount}} task</h6>
                <div class="NotificationCount">{{c.outlookcount}} </div>

              </ng-container>

            </div>
          </div>
        </div>
      </div>

      </div>
    

  <!--
    <div *ngFor="let s of source">
      <h1>nn</h1>
      <span>{{s.name}}</span>
    </div>
  -->
  <!--  https://stackoverflow.com/questions/1853662/how-to-show-page-loading-div-until-the-page-has-finished-loading

    https://loading.io/css/ --for spinners

  <p *ngIf="!display"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>



  <table *ngIf="display">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Title</th>
        <th>Due</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of display">
        <td>{{ d.id }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.title }}</td>
        <td>{{ d.due }}</td>
      </tr>
    </tbody>
  </table>-->
  <!--<div class="container">

    <div class="row">
      <div class="col-sm-5">
        <div class="top">-->
  <!--<img _ngcontent-scx-c54="" src="../../../assets/image/pumalogo2.jpg" alt="puma" width="400" height="200"> class="App-logo" -->
  <!--<img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/logo.df9e46058fe72ddc0765.jpeg" class="App-logo" alt="logo" height="100cm" width="150cm">
        </div>
      </div>



      <div class="col-sm-6">


        <div class="aligned">
          <div class="text-right">
            <span class="HomePageTitle"> Hello</span>
            <br><br>
          </div>

          <div>


            <span class="HomePageTitle">Max Mustermann</span>
          </div>
          <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/profile-pic.08e86fdf2c6c9ffcf960.jpg" class="rounded-circle float-right" alt="Image" height="95cm" width="90cm">
        </div>
      </div>
    </div>
  </div>-->
  <!--
  <div *ngFor="let a of adobe">
    <div *ngFor="let c of count">
      <ng-container *ngIf="a.id=='456'  &&  c.adobecount==0">
        <h1>yyyyyyyyyyyyyyyyyyyyyyy</h1>
        <h1>{{a.id}}</h1>
        hhhhhhhh>hhhhhhhh
      </ng-container>

      </div>
    </div>
  -->
  
