
<div class="HeaderContainer">
  <div>
    <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/logo.df9e46058fe72ddc0765.jpeg" class="App-logo" alt="logo" (click)="pumahome()" height="100cm" width="150cm">
  </div>

  <div class="Introduction">
    <div class="Name">
      <div>
        <span class="HomePageTitle">Hello</span>
      </div>
      <div>
        <span class="HomePageTitle"> Max Mustermann</span>
      </div>
      <div>
        <span class="HomePageTitle"><strong> You've got 7 tasks to complete</strong></span>
      </div>
    </div>
    <div>
      <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/profile-pic.08e86fdf2c6c9ffcf960.jpg" class="rounded-circle" alt="logo" height="95cm" width="90cm">
    </div>
  </div>
</div>

<br>
<br>
<div style="position: relative;padding-left: 200px;" class=".container-lg">

  <button type="button" class="btn btn-light" (click)="calender()">Show Calander&nbsp;&nbsp;<i class="fa fa-eye"></i></button>&nbsp;&nbsp;&nbsp; &nbsp;

  <button type="button" class="btn btn-light" (click)="search()">Show Search&nbsp;&nbsp;<i class="fa fa-eye"></i></button>&nbsp;&nbsp;&nbsp; &nbsp;

  <button type="button" class="btn btn-light" (click)="filter()">Show Filter&nbsp;&nbsp;<i class="fa fa-eye"></i></button>

  <button type="button" class="right float-right btn btn-light">Show Source Bar &nbsp; <i class='fas fa-angle-right'> </i></button>

  <h5 *ngIf="showMesearch" style="margin-left: 0px; margin-right: 200px; padding-top:2%">
    <!--<span class="glyphicon glyphicon-search"></span>-->
    <div class="form-outline mb-4">
      <input type="search" class=" search form-control" placeholder="search..." style="border-radius:10px;">
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </h5>


  <h5 *ngIf="showFilter">
    <div class=" btn-top form-outline mb-4">
      Filter By : <button type="button" class=" btn btn-light" style="font-size:small">
        Selected Source [1]&nbsp;&nbsp;
        <i class='fas fa-caret-down'></i>
      </button>

      &nbsp;&nbsp; <button type="button" class=" btn btn-light" style="font-size:small">All Tasks [5] &nbsp;&nbsp;<i class='fas fa-caret-down'></i></button>
      <button type="button" class="reset float-right btn btn-light" (click)="ResetAll()">Reset All&nbsp;&nbsp;<i class="fa fa-rotate-left" style='color:red'></i></button>
    </div>
  </h5>

  <div class="container-fluid">
    <div class="row">
      <h5 *ngIf="ShowMeCalender">
        <div class="float-left col-sm-6" style="margin-top:20px; position:relative; right:20px;">
          <div class="container">
            <!--<div class='demo-app'>

            <div class='demo-app-sidebar'>
              <div class='demo-app-sidebar-section'>
                <h2>Instructions</h2>
                <ul>
                  <li>Select dates and you will be prompted to create a new event</li>
                  <li>Drag, drop, and resize events</li>
                  <li>Click an event to delete it</li>
                </ul>
              </div>
              <div class='demo-app-sidebar-section'>
                <label>
                  <input type='checkbox'
                         [checked]='calendarVisible'
                         (change)='handleCalendarToggle()' />
                  toggle whole calendar
                </label>
              </div>
              <div class='demo-app-sidebar-section'>
                <label>
                  <input type='checkbox'
                         [checked]='calendarOptions.weekends'
                         (change)='handleWeekendsToggle()' />
                  toggle weekends
                </label>
              </div>
              <div class='demo-app-sidebar-section'>
                <h2>All Events ({{currentEvents.length}})</h2>
                <ul>
                  <li *ngFor='let event of currentEvents'>
                    <b>{{event.startStr}}</b>
                    <i>{{event.title}}</i>
                  </li>
                </ul>
              </div>
            </div>-->

            <div class='demo-app-main'>
              <full-calendar *ngIf='calendarVisible'
                             [options]='calendarOptions'></full-calendar>
            </div>
          </div>
          <h6 class="currentdate" style="margin-top:10px;">Today is : {{currentDate}} </h6>

        </div>

      </h5>
    </div>
  </div>



</div>





<div class="container">

  <div id="displaystyle" class="container-fluid">

    <div class=".container-lg">

      <div *ngFor="let w of opentext">
        <ng-container *ngIf="w.due>0 && !w.resolved">

          <div class=" opentextcolor1 panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">
              <img *ngFor="let o of opentext" src="../../assets/Image/opentext.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <div *ngFor="let o of opentext">
                <div class="title"> &nbsp;{{o.title}}</div>
              </div>

              <div *ngFor="let o of opentext">
                <div class="name"> &nbsp;{{o.name}}</div>
              </div>

            </div>
            <div class="details">


              <div *ngFor="let w of opentext">
                <ng-container *ngIf="w.due>0 && !w.resolved">
                  <span class="datecolor1">Due in {{w.due}} days</span>
                </ng-container>
              </div>



              <div>
                <div *ngFor="let o of opentext">
                  <span class="datecolor">{{o.date}}</span>

                </div>
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky;margin-right: 700px; margin-left: 50px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
            <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>

        </ng-container>
      </div>


      <div *ngFor="let w of opentext">
        <ng-container *ngIf="w.due<0 && !w.resolved">

          <div class=" opentextcolor2  panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">
              <img *ngFor="let o of opentext" src="../../assets/Image/opentext.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <div *ngFor="let o of opentext">
                <div class="title"> &nbsp;{{o.title}}</div>
              </div>

              <div *ngFor="let o of opentext">
                <div class="name"> &nbsp;{{o.name}}</div>
              </div>

            </div>
            <div class="details">


              <div *ngFor="let w of opentext">
                <ng-container *ngIf="w.due<0 && !w.resolved">
                  <span class="datecolor2">Overdue by {{-w.due}} days</span>
                </ng-container>
              </div>



              <div>
                <div *ngFor="let o of opentext">
                  <span class="datecolor">{{o.date}}</span>

                </div>
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky;margin-right: 700px; margin-left: 50px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
            <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>

        </ng-container>
      </div>


      <div *ngFor="let w of opentext">
        <ng-container *ngIf="w.due==0 && !w.resolved">

          <div class=" opentextcolor3  panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">
              <img *ngFor="let o of opentext" src="../../assets/Image/opentext.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <div *ngFor="let o of opentext">
                <div class="title"> &nbsp;{{o.title}}</div>
              </div>

              <div *ngFor="let o of opentext">
                <div class="name"> &nbsp;{{o.name}}</div>
              </div>

            </div>
            <div class="details">


              <div *ngFor="let w of opentext">
                <ng-container *ngIf="w.due==0 && !w.resolved">
                  <span class="datecolor3">Due Today</span>
                </ng-container>
              </div>



              <div>
                <div *ngFor="let o of opentext">
                  <span class="datecolor">{{o.date}}</span>

                </div>
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky;margin-right: 700px; margin-left: 50px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
            <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>

        </ng-container>
      </div>

      <div *ngFor="let w of opentext">
        <ng-container *ngIf="w.due<0 && w.resolved">

          <div class=" opentextcolor4  panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">
              <img *ngFor="let o of opentext" src="../../assets/Image/opentext.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <div *ngFor="let o of opentext">
                <div class="title"> &nbsp;{{o.title}}</div>
              </div>

              <div *ngFor="let o of opentext">
                <div class="name"> &nbsp;{{o.name}}</div>
              </div>

            </div>
            <div class="details">


              <div *ngFor="let w of opentext">
                <ng-container *ngIf="w.due<0 && w.resolved">
                  <span class="datecolor4">Resolved {{-w.due}} days ago</span>
                </ng-container>
              </div>



              <div>
                <div *ngFor="let o of opentext">
                  <span class="datecolor">{{o.date}}</span>

                </div>
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky;margin-right: 700px; margin-left: 50px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
            <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>

        </ng-container>
      </div>

    </div>

    </div>



</div>
