<!--<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>


-->
<!--<app-homepage></app-homepage>-->
<!-- [fgsTemplate]="foregroundSpinner"
 [bgsTemplate]="backgroundSpinner"-->
<!--logoUrl="https://d2c0jhkf0fswap.cloudfront.net/static/media/logo.df9e46058fe72ddc0765.jpeg"

  fgsColor="red"
               bgsColor="black"
               fgsType="ball-scale-multiple"
               text="Please Wait.....">-->

<ngx-ui-loader>

</ngx-ui-loader>
<!--  [fgsTemplate]="foregroundSpinner" [bgsTemplate]="backgroundSpinner"
<ng-template #foregroundSpinner>
  <div class="sk-chase">
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
    <div class="sk-chase-dot"></div>
  </div>
</ng-template>

<ng-template #backgroundSpinner>
  <div class="ball-scale-multiple la-4x la-dark">
    <div></div>
    <div></div>
  </div>
</ng-template>-->

<router-outlet></router-outlet>
