
<div class="HeaderContainer">
  <div>
    <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/logo.df9e46058fe72ddc0765.jpeg" class="App-logo" alt="logo" (click)="pumahome()" height="100cm" width="150cm">
  </div>

  <div class="Introduction">
    <div class="Name">
      <div>
        <span class="HomePageTitle">Hello</span>
      </div>
      <div>
        <span class="HomePageTitle"> Max Mustermann</span>
      </div>
      <div *ngFor="let c of count">
        <span class="HomePageTitle"><strong> You've got {{c.count}} tasks to complete</strong></span>
      </div>
    </div>
    <div>
      <img src="https://d2c0jhkf0fswap.cloudfront.net/static/media/profile-pic.08e86fdf2c6c9ffcf960.jpg" class="rounded-circle" alt="logo" height="95cm" width="90cm">
    </div>
  </div>
</div>


<br>
<br>
<div style="position: relative;padding-left: 132px;" class=".container-lg">

  <button type="button" class="btn btn-light btn1"  (click)="calender()">{{calvalue}}&nbsp; &nbsp;<i class="fa fa-{{icon1}}"></i></button>&nbsp;&nbsp;&nbsp; &nbsp;
  <button type="button" class="btn btn-light btn2"(click)="search()">
    {{btnVal}}&nbsp; &nbsp;<i class="fa fa-{{icon2}}"></i>
  </button>&nbsp;&nbsp;&nbsp; &nbsp;
  <button type="button" class="btn btn-light btn3"  (click)="filter()">{{showfilter}} &nbsp; &nbsp;<i class="fa fa-{{icon3}}"></i></button>

  <button type="button" class="right float-right btn btn-light btn4">
    Show Source Bar &nbsp;
    <i class='fas fa-angle-right'> </i>
  </button>


  <div class="container" *ngIf="showMesearch" style="margin-left: -45px; margin-top:0px; margin-right: 132px; padding-top:2%">
    <!--<span class="glyphicon glyphicon-search"></span>-->
    <div class="form-outline mb-4">
      <input type="search" class="search form-control" placeholder="search..." style="border-radius:10px;">
      <span class="glyphicon glyphicon-search"></span>
    </div>
  </div>



  <h5 *ngIf="showFilter">
    <div class="btn-top form-outline mb-4">
      <button type="button" class=" btn btn-light btn5" style="font-size:small; border-radius:8px; margin-left:-35px;">
        Selected Source [1]&nbsp;&nbsp;
        <i class='fas fa-caret-down'></i>
      </button>

      &nbsp;&nbsp;<button type="button" class=" btn btn-light btn6" style="font-size:small;border-radius:8px;" *ngFor="let c of count">All Tasks [{{c.count}}] &nbsp;&nbsp;<i class='fas fa-caret-down'></i></button>
      <button type="button" class="reset float-right btn btn-light btn7" style="border-radius:8px;"
              (click)="ResetAll()">
        Reset All &nbsp;&nbsp;<i class="fa fa-rotate-left" style='color:red'></i>
      </button>
    </div>
  </h5>

  <div class="container-fluid cal">

    <div class="row">

      <div class="row">
        <ng-container *ngIf="ShowMeCalender">
          <div class="float-left col-sm-6" style="margin-top:-110px; position:relative; right:0px;">
            <div class="container">


              <div class='demo-app-main'>

                <div class="currentdate" style="position:relative;top:150px;left:-105px; font-weight:bold">Today is : {{currentDate}} </div>
                <!--  <full-calendar *ngIf='calendarVisible'
                               [options]='calendarOptions'></full-calendar>-->
                <ejs-calendar id=calendar [value]='value' [min]='minDate' [max]='maxDate'> </ejs-calendar>
              </div>
            </div>

          </div>

        </ng-container>
      </div>

    </div>

  </div>

</div>




<div class="container">

  <div id="displaystyle" class="container-fluid">

    <div class=".container-lg" >

      <div *ngFor="let o of outlook">
        <ng-container *ngIf="o.due>0 && !o.resolved && o.id==o.id && o.title==o.title">

          <div class=" outlookcolor1 panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">

              <img src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">



              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="title"> &nbsp;{{o.title}}</div>
              </ng-container>



              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="name"> &nbsp;{{o.name}}</div>
              </ng-container>


            </div>

            <div class="details">


              <ng-container *ngIf="o.due>0 && !o.resolved && o.id==o.id && o.due==o.due && o.title==o.title">
                <ng-container *ngIf="o.due==1">
                  <span class="datecolor1">Due in {{o.due}} day</span>
                </ng-container>
                <ng-container *ngIf="o.due>1">
                  <span class="datecolor1">Due in {{o.due}} days</span>
                </ng-container>
              </ng-container>




              <div>


                <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                  <span class="datecolor">{{o.date}}</span>
                </ng-container>

              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>
              <div class=" allbtns buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light" style="border-radius:8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>
          <ng-container *ngIf="o.due>0 && !o.resolved && o.id==o.id && o.title==o.title"><br /></ng-container>
          </ng-container>

</div>

     

      <div *ngFor="let o of outlook">
        <ng-container *ngIf="o.due<0 && !o.resolved && o.id==o.id && o.title==o.title">

          <div class=" outlookcolor2 panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">

              <img src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <!-- <div *ngFor="let o of outlook">-->

              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="title"> &nbsp;{{o.title}}</div>
              </ng-container>


              <!--  </div>-->
              <!-- <div *ngFor="let o of outlook">-->
              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="name"> &nbsp;{{o.name}}</div>
              </ng-container>

              <!--   </div>-->

            </div>

            <div class="details">
              <!--
      <div *ngFor="let w of outlook">-->
              <ng-container *ngIf="o.due<0 && !o.resolved && o.id==o.id && o.title==o.title">
                <ng-container *ngIf="o.due==-1">
                  <span class="datecolor2">overdue by {{-o.due}} day</span>
                </ng-container>
                <ng-container *ngIf="o.due<-1">
                  <span class="datecolor2">overdue by {{-o.due}} days</span>
                </ng-container>
              </ng-container>
              <!--  </div>-->

              <div>
                <!-- <div *ngFor="let o of outlook">-->

                <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                  <span class="datecolor">{{o.date}}</span>
                </ng-container>

                <!-- </div>-->
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
        <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" allbtns buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>
          <ng-container *ngIf="o.due<0 && !o.resolved && o.id==o.id && o.title==o.title"><br /></ng-container>
          </ng-container>

</div>

    

      <div *ngFor="let o of outlook">
        <ng-container *ngIf="o.id==o.id && o.due==0 && !o.resolved && o.id==o.id && o.title==o.title">

          <div class=" outlookcolor3 panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">

              <img src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">


              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="title"> &nbsp;{{o.title}}</div>
              </ng-container>



              <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                <div class="name"> &nbsp;{{o.name}}</div>
              </ng-container>


            </div>

            <div class="details">


              <ng-container *ngIf="o.due==0 && !o.resolved && o.id==o.id && o.title==o.title">
                <ng-container *ngIf="o.due==0 && !o.resolved">
                  <span class="datecolor1">Due Today</span>
                </ng-container>

              </ng-container>




              <div>


                <ng-container *ngIf="o.id==o.id && !o.resolved && o.due==o.due && o.title==o.title">
                  <span class="datecolor">{{o.date}}</span>
                </ng-container>

              </div>



            </div>

            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
        <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class=" allbtns buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>
          <ng-container *ngIf="o.id==o.id && o.due==0 && !o.resolved && o.id==o.id && o.title==o.title"><br /></ng-container>
          </ng-container>

</div>

      

      <div *ngFor="let o of outlook">
        <ng-container *ngIf="o.due<0 && o.resolved && o.id==o.id && o.title==o.title">

          <div class=" outlookcolor4 panel panel-default text-center" style="height:130px;">

            <div style="padding-top: 10px;" class="panel-heading">

              <img src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

              <!-- <h4> &nbsp;Sign Employment Contract</h4>-->
              <div *ngFor="let o of outlook">
                <ng-container *ngIf="o.id==o.id && o.resolved && o.due==o.due && o.title==o.title">
                  <div class="title"> &nbsp;{{o.title}}</div>
                </ng-container>
              </div>

              <div *ngFor="let o of outlook">
                <ng-container *ngIf="o.id==o.id && o.resolved && o.due==o.due &&  o.title==o.title">
                  <div class="name"> &nbsp;{{o.name}}</div>
                </ng-container>
              </div>

            </div>

            <div class="details">

              <!-- <div *ngFor="let o of outlook">-->
              <ng-container *ngIf="o.due<0 && o.resolved && o.due==o.due &&  o.title==o.title">
                <ng-container *ngIf="o.due==-1">
                  <span class="datecolor4">Resolved {{-o.due}} day ago</span>
                </ng-container>
                <ng-container *ngIf="o.due<-1">
                  <span class="datecolor4">Resolved {{-o.due}} days ago</span>
                </ng-container>
              </ng-container>
              <!-- </div>-->

              <div>
                <!--                <div *ngFor="let o of outlook">-->


                <ng-container *ngIf="o.id==o.id && o.resolved && o.due==o.due &&  o.title==o.title">
                  <span class="datecolor">{{o.date}}</span>
                </ng-container>

                <!--
        </div>-->
              </div>



            </div>


            <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>
                <!--             <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Pin Task</button>
        <button type="button" style="position: -webkit-sticky;margin-right: 700px;" class="btn btn-light">Go To Task</button>-->

                <div class="allbtns buttonright btn-group" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                  <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                </div>
              </div>

              <br><br>


            </div>

          </div>
          <ng-container *ngIf="o.due<0 && o.resolved && o.id==o.id && o.title==o.title"><br /></ng-container>
          </ng-container>

</div>

    </div>


          </div>






  </div>



  <!-- <div id="displaystyle" class="container-fluid">



     <div class=".container-lg">



       <div *ngFor="let w of outlookdata">
         <ng-container *ngIf="w.due4>0 && !w.resolved">



           <div class=" outlookcolor1 panel panel-default text-center" style="height:130px;">



             <div style="padding-top: 10px;" class="panel-heading">



               <img *ngFor="let o of outlook" src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

               <div *ngFor="let o of outlookdata">
                 <div class="title"> &nbsp;{{o.title2}}</div>
               </div>



               <div *ngFor="let o of outlookdata">
                 <div class="name"> &nbsp;{{o.name}}</div>
               </div>



             </div>
             <div class="details">



               <div *ngFor="let w of outlookdata">
                 <ng-container *ngIf="w.due4>0 && !w.resolved">
                   <ng-container *ngIf="w.due4==1">
                     <span class="datecolor1">Due in {{w.due4}} day</span>
                   </ng-container>
                   <ng-container *ngIf="w.due4>1">
                     <span class="datecolor1">Due in {{w.due4}} days</span>
                   </ng-container>
                 </ng-container>
               </div>



               <div>
                 <div *ngFor="let o of outlookdata">
                   <span class="datecolor">{{o.dateTask2}}</span>



                 </div>
               </div>





             </div>




             <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
               <div class="btn-group" role="group" aria-label="Basic example">
                 <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>

                 <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                 </div>
               </div>



               <br><br>




             </div>



           </div>



         </ng-container>
       </div>



       <div *ngFor="let w of outlookdata">
         <ng-container *ngIf="w.due4==0 && !w.resolved">



           <div class=" outlookcolor3 panel panel-default text-center" style="height:130px;">



             <div style="padding-top: 10px;" class="panel-heading">



               <img *ngFor="let o of outlook" src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

               <div *ngFor="let o of outlookdata">
                 <div class="title"> &nbsp;{{o.title2}}</div>
               </div>



               <div *ngFor="let o of outlookdata">
                 <div class="name"> &nbsp;{{o.name}}</div>
               </div>



             </div>
             <div class="details">



               <div *ngFor="let w of outlookdata">
                 <ng-container *ngIf="w.due4==0 && !w.resolved">
                   <span class="datecolor3">Due Today</span>
                 </ng-container>
               </div>



               <div>
                 <div *ngFor="let o of outlookdata">
                   <span class="datecolor">{{o.dateTask2}}</span>



                 </div>
               </div>

             </div>

             <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
               <div class="btn-group" role="group" aria-label="Basic example">
                 <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>

                 <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                 </div>
               </div>



               <br><br>




             </div>



           </div>



         </ng-container>
       </div>



       <div *ngFor="let w of outlookdata">
         <ng-container *ngIf="w.due4<0 && !w.resolved">



           <div class=" outlookcolor2 panel panel-default text-center" style="height:130px;">

             <div style="padding-top: 10px;" class="panel-heading">

               <img *ngFor="let o of outlook" src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">
               <div *ngFor="let o of outlookdata">
                 <div class="title"> &nbsp;{{o.title2}}</div>
               </div>



               <div *ngFor="let o of outlookdata">
                 <div class="name"> &nbsp;{{o.name}}</div>
               </div>



             </div>
             <div class="details">



               <div *ngFor="let w of outlookdata">
                 <ng-container *ngIf="w.due4<0 && !w.resolved">
                   <ng-container *ngIf="w.due4==-1">
                     <span class="datecolor2">Overdue by {{-w.due4}} day</span>
                   </ng-container>
                   <ng-container *ngIf="w.due4<-1">
                     <span class="datecolor2">Overdue by {{-w.due4}} days</span>
                   </ng-container>
                 </ng-container>
               </div>



               <div>
                 <div *ngFor="let o of outlookdata">
                   <span class="datecolor">{{o.dateTask2}}</span>



                 </div>
               </div>





             </div>




             <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
               <div class="btn-group" role="group" aria-label="Basic example">
                 <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>

                 <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                 </div>
               </div>



               <br><br>




             </div>



           </div>



         </ng-container>
       </div>



       <div *ngFor="let w of outlookdata">
         <ng-container *ngIf="w.due4<0 && w.resolved">



           <div class=" outlookcolor4 panel panel-default text-center" style="height:130px;">



             <div style="padding-top: 10px;" class="panel-heading">



               <img *ngFor="let o of outlook" src="../../assets/Image/outlook.png" class="rounded float-left" alt="logo" height="25cm" width="25cm">

               <div *ngFor="let o of outlookdata">
                 <div class="title"> &nbsp;{{o.title2}}</div>
               </div>



               <div *ngFor="let o of outlookdata">
                 <div class="name"> &nbsp;{{o.name}}</div>
               </div>



             </div>
             <div class="details">



               <div *ngFor="let w of outlookdata">
                 <ng-container *ngIf="w.due4<0 && w.resolved">
                   <ng-container *ngIf="w.due4==-1">
                     <span class="datecolor4">Resolved {{-w.due4}} day ago</span>
                   </ng-container>
                   <ng-container *ngIf="w.due4<-1">
                     <span class="datecolor4">Resolved {{-w.due4}} days ago</span>
                   </ng-container>
                 </ng-container>
               </div>



               <div>
                 <div *ngFor="let o of outlookdata">
                   <span class="datecolor">{{o.dateTask2}}</span>



                 </div>
               </div>





             </div>




             <div class="border-btn-light panel-body" style="position:relative; top:-30px;">
               <div class="btn-group" role="group" aria-label="Basic example">
                 <button type="button" style="position: -webkit-sticky; margin-right: 700px; margin-left: 50px; border-radius: 8px;" class="btn btn-light">. . .</button>

                 <div class=" buttonright btn-group" role="group" aria-label="Basic example">
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Pin Task &nbsp;&nbsp;<i class="fa fa-thumb-tack"></i></button>
                   &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
                   <button type="button" class="btn btn-light" style="border-radius: 8px;">Go To Task &nbsp;&nbsp; <i class="fas fa-external-link-alt"></i></button>
                 </div>
               </div>



               <br><br>




             </div>



           </div>



         </ng-container>
       </div>



     </div>



   </div>-->

 




